*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #000;
    color: white;
    font-family: arial;
    width: 100%;
    padding-top: 10px;    
}

h3{
    font-size: 20px;
    font-family: arial;
    margin: 0;
    padding-left: 10px;
}

h4{
    font-size: 15px;
    font-family: arial;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}

body{
    background-color: #00FA9A;
}

.container{
    display: block;
    background-color: #fff;
    width: 80%;
    box-shadow: 2px 2px #000; /*box shadow - 2px para direita e 2px para baixa cor preta forma uma linha de caixa*/
    margin: 0 auto; /*o codico faz a mesma coisa que o codico comentado abaixo*/
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    max-width: 90%;
    max-height: 90%;
    min-width: 0;
    min-height: 0;
}

footer{
    font-family: arial;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    font-family: arial;
    text-align: justify;
    padding: 5px;
    font-size: 1.6rem;
}

h1{
    font-family: arial;
    text-align: center;
    padding-top: 5px;
    font-size: 2.5rem; /*rem é a medida do tamanho da fonte padrão ex se a fonte for tamanho 10 e se colocar 1.6 rem, o tamanho da fonte selecionada vai ser 16*/
}

.texto-footer{
    text-align: center;
    font-family: arial;
    padding-top: 5px;
    font-size: 1.5rem;
}

.compre {
    background-color: rgba(255, 255, 0, 1.0);
    width: 150px;
    height: 100px;
    position: fixed;
    right: 0;
    text-align: center;
    margin-top: 3%;
    z-index: 1; /*coloca o conteudo encima de tudo sobrepondo*/
}

h5{
    text-align: center;
    font-family: arial;
    padding: 1px;
    font-size: 1.9rem;
}

button{
    text-align: center;
    font-family: arial;
    padding: 3px;
    font-size: 1.5rem;
    background-color: rgba(50, 205, 50, 1.0);
    color: #fff;
    border: solid;

}

#grid-container {
    margin-top: 5px;
    background-color: rgba(255,127,80);
    padding: 5px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*o comando auto-fill, minmax(300px, 1fr)) faz com que se a tela tiver 300px que no caso é uma tela pequena se ajuste da forma da tela, se for maior ela se quebrara em 1fr  ...............1fr 1fr; fr fraguimenta o conteudo fazendo com que fique responsivo e acompanhe o tamanho da tela, sem ter um tamanho definido como ex 300px*/ 
    grid-gap:2px;  
    max-width: 1200px;
    margin: 0 auto;
}

.grid div {
    background-color: #fff;
    font-family: arial;
    text-align: center;
    font-size: 1.6rem;
    padding: 2px;
}

#formulario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    background-color: rgba(173 , 216 , 203 ,1.0);
}

.formulario-contato{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    padding: 10px;
    text-align: left;
    margin-left: 5%;
    font-weight: bold;
}

input{
    font-family: sans-serif;
    font-size: 1.7rem;
    padding: 5px;
}

nav{
    text-align: right;
    padding-top: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin-right: 2%;
    word-spacing: 20px;
}

a{
    color: #fff;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: all 500ms ease-in-out; /*para fazer uma transição de decoração ao passar o mouse sobre*/
}

a:hover{
    background-color:#00FA9A
}